streamlit
requests
streamlit-option-menu
streamlit-folium
pandas
geopy
folium
gspread
IPython
matplotlib
seaborn
beautifulsoup4
opencv-python-headless
numpy
flake8
pytesseract
scikit-image
pillow
urllib3
lxml
google-api-python-client
openpyxl
plotly
scipy
tensorflow
torch
