streamlit
requests
streamlit-option-menu
streamlit-folium
pandas
geopy
folium
gspread
IPython
matplotlib
beautifulsoup4
opencv-python-headless
numpy
flake8
pytz
pillow
urllib3
lxml
google-api-python-client
openpyxl
plotly
scipy
